<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:util="http://www.springframework.org/schema/util"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans.xsd 
       http://www.springframework.org/schema/context 
       http://www.springframework.org/schema/context/spring-context.xsd 
       http://www.springframework.org/schema/util 
       http://www.springframework.org/schema/util/spring-util.xsd">



		<!--配置文件-->
		<bean id="propertyConfigurer"
			  class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
			<property name="order" value="2"/>
			<property name="ignoreUnresolvablePlaceholders" value="true"/>
			<property name="locations">
				<list>
					<value>classpath*:datasource.properties</value>
				</list>
			</property>
			<property name="fileEncoding" value="utf-8"/>
		</bean>

		<!--配置dataSource-->
		<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource"
			  destroy-method="close">
			<property name="driverClassName" value="${db.driverClassName}" />
			<!--开发用线下数据库 -->
			<property name="url" value="${db.url}" />
			<property name="username" value="${db.username}" />
			<property name="password" value="${db.password}" />
			<!-- 连接池启动时的初始值 -->
			<property name="initialSize" value="${db.initialSize}"/>
			<!-- 连接池的最大值 -->
			<property name="maxActive" value="${db.maxActive}"/>
			<!-- 最大空闲值.当经过一个高峰时间后，连接池可以慢慢将已经用不到的连接慢慢释放一部分，一直减少到maxIdle为止 -->
			<property name="maxIdle" value="${db.maxIdle}"/>
			<!-- 最小空闲值.当空闲的连接数少于阀值时，连接池就会预申请去一些连接，以免洪峰来时来不及申请 -->
			<property name="minIdle" value="${db.minIdle}"/>
			<!-- 最大建立连接等待时间。如果超过此时间将接到异常。设为－1表示无限制 -->
			<property name="maxWait" value="${db.maxWait}"/>
			<!--#给出一条简单的sql语句进行验证 -->
			<!--<property name="validationQuery" value="select getdate()" />-->
			<property name="defaultAutoCommit" value="${db.defaultAutoCommit}"/>
			<!-- 回收被遗弃的（一般是忘了释放的）数据库连接到连接池中 -->
			<!--<property name="removeAbandoned" value="true" />-->
			<!-- 数据库连接过多长时间不用将被视为被遗弃而收回连接池中 -->
			<!--<property name="removeAbandonedTimeout" value="120" />-->
			<!-- #连接的超时时间，默认为半小时。 -->
			<property name="minEvictableIdleTimeMillis" value="${db.minEvictableIdleTimeMillis}"/>
		</bean>

		<!--配置SqlSessionFactory-->
		<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">

			<!--mybatis全局配置文件-->
			<property name="configLocation" value="classpath:mybatis-config.xml"></property>

			<!--配置别名，减去在mapper.xml文件书写全路径名-->
			<property name="typeAliasesPackage" value="cn.plasticlove.entity"></property>
			<property name="dataSource" ref="dataSource"></property>
			<!--mapper.xml文件扫描-->
			<property name="mapperLocations" value="classpath*:mapper/*.xml"></property>
		</bean>


		<!--mapper接口扫描-->
		<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
			<property name="basePackage" value="cn.plasticlove.dao"></property>
			<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
		</bean>




















	</beans>
